:root {
  --gold: #d5966c;
  --almost-black: #151515;
  --dark-grey: #444444;
  --white: #ffffff;
}

header {
  height: 55rem;
  background: url('./assets/mobile/image-map.png');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

main {
  padding: 4.8rem 1.6rem 5.6rem;
  margin: 0;
  background-color: var(--almost-black);
}

main h1 {
  font-weight: 900;
  font-size: 5rem;
  line-height: 4.5rem;
  color: var(--white);
}

main h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--gold);
  margin-top: 4.8rem;
}

main p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--white);
  margin-top: 2rem;
}

footer {
  margin-top: 0;
  background-color: var(--gold);
}

footer p {
  color: var(--almost-black);
}

footer .socials .facebook {
  background: url('./assets/icon-facebook-dark.svg');
}

footer .socials .instagram {
  background: url('./assets/icon-instagram-dark.svg');
}

footer .socials .twitter {
  background: url('./assets/icon-twitter-dark.svg');
}

@media (min-width: 768px) {
  header {
    height: 60rem;
    background: url('./assets/tablet/image-map.png');
  }

  main {
    padding: 8.8rem 4rem 8rem;
  }

  main .container {
    display: flex;
  }

  main .content {
    width: 40rem;
  }

  main h1 {
    font-size: 5.5rem;
    line-height: 5rem;
    width: 22.3rem;
    margin-right: 6.8rem;
  }

  main h2 {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  header {
    background: url('./assets/desktop/image-map.png');
  }

  main {
    padding: 10.4rem 16.5rem 12.8rem;
  }

  main .content {
    width: 54rem;
  }

  main h1 {
    font-size: 7rem;
    line-height: 7rem;
    width: 35rem;
    margin-right: 22rem;
  }

  main h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  main p {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin: 2.4rem 0 3.2rem;
  }

  main p:last-child {
    margin-bottom: 0;
  }
}
